* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(191, 210, 230);
}

.container {
    display: flex;
    width: 80%;
    max-width: 900px;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container {
    flex: 1;
    padding: 40px;
}

h2 {
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    color: rgb(0, 81, 255);
    font-size: 2rem;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: rgb(0, 81, 255);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: rgb(51, 105, 223);
}

.image-container {
    flex: 1;
    background-image: url('https://media.tenor.com/HD34G-O-NLgAAAAM/gogeta-blue-gogeta.gif');
    background-size: cover;
    background-position: center;
}